doctype 5
html(lang="es")
  head
      meta(charset="utf-8")
      title planetAnonimo
      link(rel="shortcut icon", href="/images/ICO.bmp")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
      script(src="/javascripts/modernizr.js")
      script(src="/javascripts/loginFlotante.js")
      link(rel="stylesheet", href="/stylesheets/style.css")
      style
        h1{
          font-size:45px;
        }
  body
   #global
     header
       #headerCenter
         #logo
         #searchDiv
           input#searchInput(type='text', placeholder='Busca un usuario')
         if (login == 'undefined')
          input.entrar(type='button', name='login', value='Logueate!')
          #sign_box
            form(method='post')
              label.loginLabel Usuario
                input.loginInput(type='text', name='loginUser', required='required')
              label.loginLabel Contraseña
                input.loginInput(type='password', name='loginPass', required='required')
              #iniciarSesionDiv
                input.inicioSubmit(type='submit', value=' Iniciar Sesion ')
         else
            p hola
     nav
       h3#registrate Registrate!
       .o -Conecta con-
       #registroExterno
         #facebook(onclick='location.href=\'http://www.planetanonimo.eshost.es/\'')
         #twitter(onclick='location.href=\'http://www.planetanonimo.eshost.es/\'')
       .o -o-
       form(action='/registro', method='post')
         #registro
          h2(style='text-align:center; margin: 0px auto 0px auto;') Introduce tus datos
          label.loginLabel Usuario
            input.registro(type='text', name='registroUser', required='required', required title="Un usuario es necesario para registrarse")
          label.loginLabel Contraseña
            input.registro(type='password', name='registroPass', required='required', required title="Una contraseña es necesaria para registrarse" )
          label.loginLabel Email
            input.registro(type='email', name='registroEmail', required='required', required title="Un email es necesario para registrarse")
          label.submit
            input.registroSubmit(type='submit', value='Registrate')

     hr
     section
      article 
        h1 Preguntas, llamadas y videochats anonimos! 

     footer
      #footerCenter
        h4 Todos los derechos reservados