doctype 5
!!! 5
html(lang='es')
head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/images/ICO.bmp')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/modernizr/modernizr.js', type='text/javascript')
    script(src='/javascripts/loginFlotante.js', type='text/javascript')
    script(src='/javascripts/comprobarRegistro.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title planetAnonimo
    //
       El PlanetAnonimo tendra, preguntas anonimas, chat anonimo, llamadas anonimas, video anonimo 
    block content